<!-- components/nav.html -->
<nav class="fixed top-8 left-44 z-40 flex items-center space-x-8">
  <a href="about.html" class="text-2xl px-4 py-2 rounded hover:text-[#4BB3A8] hover:scale-105 transition">About</a>
  <a href="testimonials.html" class="text-2xl px-4 py-2 rounded hover:text-[#4BB3A8] hover:scale-105 transition">Reviews</a>
  <a href="packages.html" class="text-2xl px-4 py-2 rounded hover:text-[#4BB3A8] hover:scale-105 transition">Packages</a>
  <a href="bookings.html" class="text-2xl px-4 py-2 rounded hover:text-[#4BB3A8] hover:scale-105 transition">Bookings</a>
</nav>
