<!-- components/social.html -->
<div class="fixed bottom-24 right-6 z-40 flex flex-col items-center space-y-4">
  <!-- Instagram -->
  <a href="https://www.instagram.com/muscleminit/" target="_blank"
     class="w-10 h-10 md:w-12 md:h-12 bg-[#FAD4C0] flex items-center justify-center rounded-full shadow-lg hover:bg-[#f0c3ac] transition-all duration-300 hover:-translate-y-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:w-7 md:h-7" fill="black" viewBox="0 0 24 24">
      <path d="M12 2.2c3.2 0 3.6 0 4.9.1..." />
    </svg>
  </a>

  <!-- Facebook -->
  <a href="https://www.facebook.com/MuscleMinit" target="_blank"
     class="w-10 h-10 md:w-12 md:h-12 bg-[#D3ECEA] flex items-center justify-center rounded-full shadow-lg hover:bg-[#c0dfdc] transition-all duration-300 hover:-translate-y-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 md:w-6 md:h-6" fill="black" viewBox="0 0 24 24">
      <path d="M22 12c0-5.522-4.478-10..." />
    </svg>
  </a>

  <!-- TikTok -->
  <a href="https://www.tiktok.com/@muscleminit" target="_blank"
     class="w-10 h-10 md:w-12 md:h-12 bg-[#F5E1DC] flex items-center justify-center rounded-full shadow-lg hover:bg-[#e7cfc8] transition-all duration-300 hover:-translate-y-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:w-7 md:h-7" fill="black" viewBox="0 0 24 24">
      <path d="M16.5 3a5.5 5.5..." />
    </svg>
  </a>

  <!-- YouTube -->
  <a href="https://www.youtube.com/@muscleminit" target="_blank"
     class="w-10 h-10 md:w-12 md:h-12 bg-[#F7D7D7] flex items-center justify-center rounded-full shadow-lg hover:bg-[#ecc9c9] transition-all duration-300 hover:-translate-y-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:w-7 md:h-7" fill="black" viewBox="0 0 24 24">
      <path d="M10 15l5.19-3L10 9v6zm12-3..." />
    </svg>
  </a>
</div>
